.contact-form {
  margin: 35px auto 0px auto;
  width: 80%;
}

.contact-form label {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.contact-form input {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form input:focus {
  border-bottom: 2px solid #1a883f;
}

.contact-form textarea {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 3px;
  width: 100%;
  font-family: inter;
  font-weight: normal;
}

.contact-form textarea:focus {
  border-bottom: 2px solid #1a883f;
}

.contact-form button {
  font-size: 19px;
  width: 100%;
  margin-top: 25px;
  border: none;
  padding: 12px 20px;
  background-color: #22b352;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #1a883f;
}

.contact-form button:hover {
  border-bottom: 3px solid #22b352;
}

@media all and (max-width: 800px) {
  .search__container{
    display: block;
    width: 1000px;
  }
  body > main > nav > ul.cd-nav__list.js-cd-nav__list > img{
    display: none;
  }
}
@media all and (min-width: 1000px) {
  .cd-content-wrapper{
    margin-left: 100px;
  }

}
  
@media all and (min-width: 1000px) {
  .contact-form {
    width: 40%;
  }
}

@media all and (min-width: 1080px) {
  .contact-form {
    width: 30%;
  }


  .about{
    cursor: pointer;
    background-color: #2b3035;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .about h1 {
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .about h2 {
    opacity: .8;
  }
  .about span {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin:auto;
    border-radius:50%;  
    font-size: 40px;
    color: #FFFFFF;
    opacity: 0.7;
    background-color: #0fd149;
    border: 2px solid #248008;
  
    webkit-transition:all .5s ease;
     moz-transition:all .5s ease;
     os-transition:all .5s ease;
     transition:all .5s ease;
  
  }
  .about-item:hover span{
    opacity: 1;	
    border: 2px solid #058d17;
    font-size: 42px;
    -webkit-transform: scale(1.1,1.1) rotate(360deg) ;
    -moz-transform: scale(1.1,1.1) rotate(360deg) ;
    -o-transform: scale(1.1,1.1) rotate(360deg) ;
    transform: scale(1.1,1.1) rotate(360deg) ;
  }
  .about-item:hover h2{
    opacity: 1;
    -webkit-transform: scale(1.1,1.1)  ;
    -moz-transform: scale(1.1,1.1)  ;
    -o-transform: scale(1.1,1.1)  ;
    transform: scale(1.1,1.1) ;
  }
  .about .lead{
    color: white;
    font-size: 14px;
    font-weight: bold;
  }

}